<div class="container">
  <div class="upper-data">
    <img src="../assets/dia.jpeg" *ngIf='14 > 15'>
    <img src="../assets/noche.jpeg" *ngIf='14 <= 15'>
    <div class="weather-data">
      <div class="location">Rivera</div>
      <div class="temperature">14ºC</div>
    </div>
  </div>
  <div class="lower-data">
    <div class="more-info-label">Mas informacion</div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/termometro_frio.png">
          <span>minima</span>
        </div>
        <div class="info-block-value">10ºC</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/termometro_caliente.png">
          <span>maxima</span>
        </div>
        <div class="info-block-value">20ºC</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/humedad.png">
          <span>humedad</span>
        </div>
        <div class="info-block-value">70%</div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="../assets/viento.png">
          <span>viento</span>
        </div>
        <div class="info-block-value">30 km/h</div>
      </div>
    </div>
  </div>
</div>
